<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Survey1</title>
    <script language="JavaScript">
        function setValue(input) {
            document.getElementById(input.name + "Prt").value = input.value; // input 태그의 value값을 넣기
        }
    </script>
    <style>
        body {
            background-image: url(/images/jiheon.jpg);
            background-repeat: no-repeat;
            background-size: 50%;
        }

        .plaText {
            width: 40px;
            height: 40px;
            font-size: 2em;
            border: none;

        }
    </style>
</head>
<body>
<p th:text="${name} + '님의 플라스틱 사용량을 입력하세요.'">플라스틱 사용량 입력</p>
<p>Hㅏ 힘들지만 재미있다!</p>
<form action="/survey2" method="post">
    <div>
        <input type='range' id='pla1' name='pla1' min='0' max='30' value='0' step='1' onchange="setValue(this)"/>
        <input type="text" id="pla1Prt" class="plaText" name="pla1Prt" placeholder="0" readonly>

        <input type='range' id='pla2' name='pla2' min='0' max='30' value='0' step='1' onchange="setValue(this)"/>
        <input type="text" id="pla2Prt" class="plaText" name="pla2Prt" placeholder="0" readonly>
    </div>
    <div>
        <input type='range' id='pla3' name='pla3' min='0' max='10' value='0' step='1' onchange="setValue(this)"/>
        <input type="text" id="pla3Prt" class="plaText" name="pla3Prt" placeholder="0" readonly>
        <input type='range' id='pla4' name='pla4' min='0' max='10' value='0' step='1' onchange="setValue(this)"/>
        <input type="text" id="pla4Prt" class="plaText" name="pla4Prt" placeholder="0" readonly>
    </div>
    <div>
        <input type='range' id='pla5' name='pla5' min='0' max='30' value='0' step='1' onchange="setValue(this)"/>
        <input type="text" id="pla5Prt" class="plaText" name="pla5Prt" placeholder="0" readonly>
        <input type='range' id='pla6' name='pla6' min='0' max='30' value='0' step='1' onchange="setValue(this)"/>
        <input type="text" id="pla6Prt" class="plaText" name="pla6Prt" placeholder="0" readonly>
    </div>
    <input type="submit">
</form>
</body>
</html>